body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

#overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

#displayImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  width: -webkit-fill-available;
  display: none;
}
